@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("./asset/font/Poppins-Black.ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: local("Poppins"), url("./asset/font/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: local("Poppins"), url("./asset/font/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins-Medium";
  src: local("Poppins"), url("./asset/font/Poppins-Medium.ttf");
}

@font-face {
  font-family: "OpenSans-Bold";
  src: local("OpenSans"), url("./asset/font/OpenSans-Bold.ttf");
}

.MuiInput-input {
  font-size: 45px;
}

.container{
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.line{
  border-bottom: 1px solid black;
  width: 45%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Teks {
  font-family: "Poppins";
  font-size: 1rem;
}

.Bagi {
  display: flex;
	justify-content: left center;
}
.stack-top{
  z-index: 9;
  margin: 20px; /* for demo purpose  */
}

@media screen and (max-width: 768px) {
	/* For mobile phones: */
	
}